body {
	margin: 0;
}

#header {
	background-color: lightgray;
	border-bottom: 1px solid black;
	padding: 5px;
}

#title {
	float: left;
	font-size: 35px;
}

#flash_error {
	background-color: red;
	padding: 5px;
}

#content {
	padding: 5px;
}

#login_status {
	float: right;
}

.clear {
	clear: both;
	display: block;
}