<h1>Authors</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% @authors.each do |author| %>
  <tr>
    <td><%= author.full_name %></td>
    <td>
      <%= link_to 'Edit', edit_author_url(:id => author.id) %> 
      <%= link_to 'Remove', author_url(:id => author.id), :method => :delete %>
    </td>
  </tr> 
  <% end %>
</table>

<%= link_to 'New Author', new_author_url %>