<% if logged_in? -%>
	<div>Logged in as: <%= current_user.login %></div><%= link_to 'Logout', :controller => 'users', :action => 'logout' %>
<% else -%>
	<%= link_to 'Login', :controller => 'users', :action => 'login' %> or 
	<%= link_to 'Sign Up', :controller => 'users', :action => 'signup' %> 
<% end %>