<% unless flash[:error].nil? -%>
  <div id="flash_error">
    <%= flash[:error] %>
  </div>
<% end -%>
<% unless flash[:notice].nil? -%>
  <div id="flash_notice">
    <%= flash[:notice] %>
  </div>    
<% end -%>