<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
      BookShelf.com - <%= @controller.action_name.titleize %>
    </title>
		<%= stylesheet_link_tag 'application' %>
  </head>
  <body>
  	<div id="header">
  		<div id="title">
  			<%= link_to "BookShelf", default_url %>
  		</div>
  		<div id="login_status">
				<% if logged_in? -%>
				  <div>Logged in as: <%= current_user.login %></div><%= link_to 'Logout', logout_user_url %>
				<% else -%>
				  <%= link_to 'Login', login_user_url %> or 
				  <%= link_to 'Sign Up', signup_user_url %> 
				<% end %>
			</div>
			<div class="clear"></div>
  	</div>
  	<div id="flash">
    <% unless flash[:error].nil? -%>
      <div id="flash_error">
        <%= flash[:error] %>
      </div>
    <% end -%>
		<% unless flash[:notice].nil? -%>
      <div id="flash_notice">
        <%= flash[:notice] %>
      </div>		
    <% end -%>
		</div>
		<div id="content">
    <%= yield %>
		</div>
  </body>
</html>